.input-search{
    display: flex;
    justify-content: center;
    margin-top: 60px;
}
.enviar{
    border: solid 1px #1c2b2d;
    border-radius: 5px;
    height: 40px;
    margin-right: 20px;
}

.input-bt{
    border: solid 1px;
    border-radius: 20px;
    width: 100px;
    background: #1D5A70;
    color: white;
}



.texto_form{
    text-align: center;
    margin: 0 auto;
    font-size: 190%;
    font-weight: bold;
    margin: 20px;
}

.triste_png{
    text-align: center;
    margin: 0 auto;
    width: 100px;
    height: 100px;
    display: block;
}